@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 2px;
}
